.nav{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
}
.nav div:first-child,.nav :last-child{
    margin: 0px 13px;
}
.logo img{
    width: 100px;
    height: 30px;
}
.search{
    height: 20px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}
.search span{
    border-right: 1px solid black;
    padding: 0px 5px 0px 5px;
}
.search i{
    padding-right: 5px;
    border-radius: 100%;
    border: 1px solid black;
    background-color: red;
}
.sign1{
    display: flex;
    padding-right: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    border:  1px solid black;
    padding-right: 2px;
}
.sign1 span{
    padding-left: 5px;
}
.sign1_1{
    border-radius: 10px;
    border: 2px solid black;
    background-color: azure;
    padding-left: 5px;
}